[submodule "ATX-WebDriverAgent"]
	path = ATX-WebDriverAgent
	url = https://github.com/openatx/WebDriverAgent

[submodule "Appium-WebDriverAgent"]
	path = Appium-WebDriverAgent
	url = https://github.com/Vancheung/WebDriverAgent
[submodule]
	Appium-WebDriverAgent = master
